.box1{
    background-color: rgba(140, 54, 151, 0.788);
    height: 50px;
}

.box2{
    background-color: rgba(140, 54, 151, 0.788);
    height: 50px;
}

.redes{
    font-size: 40px !important;
    color: white;
}

.textos{
   color: white;
}