
 .imagem{
     background-image: url(https://imgur.com/JoGBti0.jpg);
     background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
 }

 .textos0{
     color: white;
 }

 .textos1{
     color: #be00f3;
 }
     
 .text-decorator-none{
     text-decoration: none;
 }

 .TxtFColor2{
    width: 420px;
    background: rgba(232, 173, 240, 0.781);
    outline: none;
    border: none;
}
